@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ICE TASK 1</h1>
    <h2>SOLID PRINCIPLES</h2>
</div>

<p>Name: Asanda Dimba</p>
<p>Student Number: ST10366285</p>

<p>Amazing isn't it? ;)</p>